.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  padding-bottom:70px;
}

.nav li {
  float: left;
  color: #48e09c;
}

.nav li a {
  display: block;
  padding: 6px;
  background-color:tomato;
}

body {
  background-color:#48e09c;
  
}

h1, h2, p {
  display:block;
  margin:auto;
  background-color:orange;
  color: black;
}

.pg-l {
 margin-top:20px; 
  display:block;
}

.pg-l img,video {
 float:right; 
  padding:10px;
}

.pg-l p {
  
}

ol li {
 background-color:tomato;
  display:block;
}
